*{margin: 0;
    padding: 0;}
    body{
    background-color:rgb(194, 186, 251);
    }

.container{
    width: 640px;
    margin: auto;
    margin-top: 150px;
    background-color: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
}
.container hr{
    height: 2px;
    border: none;
    background: #707070;
}
.container h2{
    font-size: 27px;
    font-weight: 500;
}
.container ul li{
    display: flex;
    align-items: center;
    height: 70px;
    padding-left:15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;

}
.container button{
    margin: auto;
    width: 250px;
    height: 65px;
    background: #553f90;
    color:#fff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}
.container .index{
    margin: auto;
    font-size: 18px;
}
.container .correct{
    background: #17a26a;
    border-color: #77f1cf;
}
.container .wrong{
    background: #FFEBEB;
    background-color: #f8827c;
}
.highlights{
    display: flex;
}
.Result{
    background: #deeffb;
    border-radius: 20px;
    padding: 100px;
    text-align: center;
       
}
.Result h1{
    margin-bottom: 20%;
}

.Result p{
    margin-bottom: 30%;
    font-size: 30px;
}

/* quiz.css */

.container {
    font-family: 'Arial', sans-serif;
    padding: 20px;
  }
  
  .dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .light-mode {
    background-color: #f4f4f4;
    color: #333;
  }
  
  .mode-toggle {
    margin-bottom: 10px;
  }
  
  .result-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .result-container h1 {
    color: #333;
  }
  
  .result-container p {
    color: #666;
    margin-bottom: 20px;
  }
  
  .result-container button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .result-container button:hover {
    background-color: #45a049;
  }
  

.container {
    font-family: 'Arial', sans-serif;
    padding: 20px;
  }
  
  .dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .light-mode {
    background-color: #f4f4f4;
    color: #333;
  }
  
  .mode-toggle {
    margin-bottom: 10px;
  }
  
  .Result {
    text-align: center;
    margin-top: 50px;
  }
  
  .Result h1 {
    color: #000000; 
  }
  
  .Result p {
    color: #666;
    margin-bottom: 20px;
  }
  
  .Result button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .Result button:hover {
    background-color: #45a049;
  }
  .mode-toggle button{
   margin-left: 390px;
  }



