*{
  margin: 0;
  padding: 0;

}
body{
  height: 100vh;
  background-color:linear-gradient(#8ca3ec, #19006C);
  background-image:url('background.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family:sans-serif;
}

